* {
  box-sizing: border-box;
}

body {
  background-color: #152238;
  color: #f3e250;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.2;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

/*-------- header-----*/
.page-header {
  padding: 20px;
  width: 100%;
  border-bottom: 1px dotted #9e9e9e;
}

.pokemon-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*-------- main-----*/
div {
  padding-top: 30px;
}

/*--------list__________*/
.button-class{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: yellow;
  color: black;
  border-radius: 5%;
  box-shadow: 1px 1px .6em white;
}
ul{
  list-style-type: none;
  text-align: center;
}

/*--------- modal style---------*/
#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  margin-top: 10%;
  display: inline-block;
  box-sizing: border-box;
  background: rgba(20, 20, 50, 0.9);
  padding: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  border-radius: 10%;
  box-shadow: 0 0 0 1em #48AAAD,
              0 0 0 2em #FFF83F;
}

.close-button {
  margin:10px;
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}
.pokemon-picture {
  width: 40%;
}
