* {
  box-sizing: border-box;
}

body {
  background-color: #152238;
  color: #f3e250;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.2;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

/*-------- header-----*/
.page-header {
  padding: 20px;
  width: 100%;
  border-bottom: 1px dotted #9e9e9e;
}

.pokemon-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*-------- main-----*/
div {
  padding-top: 30px;
}
