{
    "env": {
        "es6": true,
        "browser": true,
        "common": true,
        "jquery": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"]
    }
}
